<div class="content-section introduction">
  <p-fieldset legend="Default">
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>Choose Custom JSON :</span>
        <p-radioButton name="rdCustomJson" value="true" label="Yes" [(ngModel)]="selectedCustomJsonValue" inputId="rdcustomjson_yes"></p-radioButton>
        <p-radioButton name="rdCustomJson" value="false" label="No" [(ngModel)]="selectedCustomJsonValue" inputId="rdcustomjson_no"></p-radioButton>
      </div>
      <div class="ui-g-9">
        <textarea [rows]="5" [cols]="100" [(ngModel)]='txtAreaJSONValue' placeholder="Enter Valid JSON" pInputTextarea
          autoResize="autoResize"></textarea>
      </div>
    </div>
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>Search Box : </span>
        <input type="text" placeholder="Search Text" pInputText [(ngModel)]="txtSearch" (ngModelChange)="onTxtSearchChange($event)" />
      </div>
    </div>
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>ngram Size : </span>
        <input type="text" placeholder="ngram Size" pInputText [(ngModel)]="txtNgramSize" (ngModelChange)="onTxtSearchChange($event)" />
      </div>
    </div>
    <div>
      <h3>Choose Phonetic Algorithm :</h3>
      <div class="ui-g" style="width:700px;margin-bottom:5px">
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="fuzzball" label="FuzzBall - Partial Ratio" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="fuzzball"></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="daitchmokotoff" label="Daitch Mokotoff" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="daitchmokotoff"></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="soundex" label="Soundex" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="soundex"></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="doublemetaphone" label="Double Metaphone" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="doublemetaphone"></p-radioButton>
        </div>
      </div>
      <div class="ui-g" style="width:700px;margin-bottom:5px">
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="naturalmetaphone" label="Natural Metaphone" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="naturalmetaphone"></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="naturalsoundex" label="Natural Soundex" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="naturalsoundex"></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="rdPhonetics" value="symlar" label="Symlar" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="symlar"></p-radioButton>
        </div>
      </div>
    </div>
    <div>
      <h3>Choose Distance/Metrics Algorithm :</h3>
      <div class="ui-g" style="width:700px;margin-bottom:5px">
        <div class="ui-g-4">
          <p-radioButton name="rdPhonetics" value="levenshtein" label="Wuzzy - Levenshtein" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="levenshtein"></p-radioButton>
        </div>
        <div class="ui-g-4">
          <p-radioButton name="rdPhonetics" value="jarowinkler" label="Jaro Winkler" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="jarowinkler"></p-radioButton>
        </div>
        <div class="ui-g-4">
          <p-radioButton name="rdPhonetics" value="fuse" label="Fuse" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="fuse"></p-radioButton>
        </div>
      </div>
    </div>
    <div>
      <h3>Choose Stemmer Algorithm :</h3>
      <div class="ui-g" style="width:700px;margin-bottom:5px">
        <div class="ui-g-4">
          <p-radioButton name="rdPhonetics" value="lunr" label="Lunar - Porter Stemmer" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="lunr"></p-radioButton>
        </div>
        <div class="ui-g-4">
          <p-radioButton name="rdPhonetics" value="ngram" label="Wuzzy - ngram" [(ngModel)]="selectedPhoneticValue"
            (ngModelChange)="onTxtSearchChange($event)" inputId="ngram"></p-radioButton>
        </div>
      </div>
    </div>
  </p-fieldset>
</div>

<p-table [value]="results">
  <ng-template pTemplate="caption">
    Results
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Choice</th>
      <th>Score</th>
      <th>Index</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{result['choice']}}</td>
      <td>{{result['score']}}</td>
      <td>{{result['index']}}</td>
    </tr>
  </ng-template>
</p-table>
