<div class="content-section introduction">
  <p-fieldset legend="Custom">
    <div>
      <span class="feature-title">
        <div class="ui-g" style="margin-bottom:2px">
          <div class="ui-g-3">
            <input type="text" placeholder="Search Text" pInputText [(ngModel)]="txtSearch" (ngModelChange)="onTxtSearchChange($event)" />
          </div>
          <div class="ui-g-9">
            <textarea placeholder="Enter Valid JSON" [(ngModel)]='txtAreaJSON' rows="5" cols="100">
</textarea>
          </div>
        </div>
      </span>
    </div>
    <div>
      <h3>Choose Phonetic Algorithm :</h3>
      <form novalidate [formGroup]="sampleForm">
        <div class="form-group row" formArrayName="searchAlgorithm">
          <div class="col-xs-12" *ngFor="let item of langControlMetada; let i = index;">
            <div [formGroupName]="i">
              <div class="form-group row">
                <div class="form-inline" style="margin-left:15px;">
                  <div class="form-check">
                    <label [for]="item.checkboxName" class="form-check-label">
                      <input type="checkbox" class="form-check-input" [id]="item.checkboxName" (change)="languageSelectionChange
                                          (i, item.checkboxName, item.associateControlName)"
                        [formControlName]="item.checkboxName"> {{ item.checkboxLabel}}
                    </label>
                    <input *ngIf="item.associateControlType == 'textbox'" class="form-control form-control-sm" id="item.associateControlName"
                      [placeholder]="item.associateControlLabel" maxlength="255" [formControlName]="item.associateControlName" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span *ngIf="missingLanguage" style="color:red">Missing programming language!</span>
        <hr />
        <div class="form-group row">
          <div class="col-xs-12">
            Form is valid? - {{sampleForm.valid && selectedAlgorithmCount > 0}}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <button class="btn btn-primary" (click)="submit($event)" [disabled]="!sampleForm.valid || selectedAlgorithmCount == 0">
              Submit
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            Output: {{test | json}}
          </div>
        </div>
      </form>
    </div>

  </p-fieldset>
</div>

<p-table [value]="results">
  <ng-template pTemplate="caption">
    Results
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Choice</th>
      <th>Score</th>
      <th>Index</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{result['choice']}}</td>
      <td>{{result['score']}}</td>
      <td>{{result['index']}}</td>
    </tr>
  </ng-template>
</p-table>
