<div class="content-section introduction">
  <p-fieldset legend="Custom">
    <div>
      <span class="feature-title">
        <div class="ui-g" style="margin-bottom:2px">
          <div class="ui-g-3">
            <input type="text" placeholder="Search Text" pInputText [(ngModel)]="txtSearch" (ngModelChange)="onTxtSearchChange($event)" />
          </div>
          <div class="ui-g-9">
            <textarea [rows]="5" [cols]="100" [(ngModel)]='txtAreaJSON' placeholder="Enter Valid JSON" pInputTextarea
              autoResize="autoResize"></textarea>
          </div>
        </div>
      </span>
    </div>
    <div>
      <h3>Choose Phonetic Algorithm :</h3>
      <form novalidate [formGroup]="sampleForm">
        <div class="form-group row" formArrayName="searchAlgorithm">
          <div class="col-xs-12" *ngFor="let item of langControlMetada; let i = index;">
            <div [formGroupName]="i">
              <div class="form-group row">
                <div class="form-inline" style="margin-left:15px;">
                  <div class="form-check">
                    <p-checkbox [name]="item.checkboxName" class="form-check-label" [value]="item.checkboxName" [label]="item.checkboxLabel"
                      [formControlName]="item.checkboxName" [inputId]="item.checkboxName" (onChange)="languageSelectionChange
(i, item.checkboxName, item.associateControlName)"></p-checkbox>
                    <input *ngIf="item.associateControlType == 'textbox'" [id]="item.associateControlName"
                      [formControlName]="item.associateControlName" class="form-control form-control-sm" type="number"
                      placeholder="(0-100)" myNumberOnly pInputText>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <span *ngIf="missingLanguage" style="color:red">Missing programming language!</span>
        <div class="form-group row">
          <div class="col-xs-12">
            <button pButton type="button" label="Submit" class="ui-button-success" [disabled]="!sampleForm.valid || selectedAlgorithmCount == 0"
              (click)="submit($event)"></button>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <div class="col-xs-12">
            Output: {{computedValue | json}}
          </div>
        </div>
      </form>
      <hr />
    </div>

  </p-fieldset>
</div>

<p-table [value]="results">
  <ng-template pTemplate="caption">
    Results
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Choice</th>
      <th>Score</th>
      <th>Index</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{result['choice']}}</td>
      <td>{{result['score']}}</td>
      <td>{{result['index']}}</td>
    </tr>
  </ng-template>
</p-table>
