<div class="content-section introduction">
  <p-fieldset legend="Custom">
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>Choose Custom JSON :</span>
        <p-radioButton name="rdCustomJson" value="true" label="Yes" [(ngModel)]="selectedCustomJsonValue" inputId="rdcustomjson_yes"></p-radioButton>
        <p-radioButton name="rdCustomJson" value="false" label="No" [(ngModel)]="selectedCustomJsonValue" inputId="rdcustomjson_no"></p-radioButton>
      </div>
      <div class="ui-g-9">
        <textarea [rows]="5" [cols]="100" [(ngModel)]='txtAreaJSONValue' placeholder="Enter Valid JSON" pInputTextarea
          autoResize="autoResize"></textarea>
      </div>
    </div>
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>Search Box : </span>
        <input type="text" placeholder="Search Text" pInputText [(ngModel)]="txtSearch" (ngModelChange)="onTxtSearchChange($event)" />
      </div>
    </div>
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>ngram Size : </span>
        <input type="text" placeholder="ngram Size" pInputText [(ngModel)]="txtNgramSize" (ngModelChange)="onTxtSearchChange($event)" />
      </div>
      <h5 style="color: lime;">Note : By default, Symlar is applied with weightage of 1</h5>
    </div>
    <div class="ui-g" style="margin-bottom:2px">
      <div class="ui-g-3">
        <span>Threshold : </span>
        <input type="text" placeholder="Threshold Value" pInputText [(ngModel)]="txtThresholdValue" (ngModelChange)="onTxtSearchChange($event)" />
      </div>
      <h5 style="color: lime;">Note : By default, Threshold is applied with a value Top 10</h5>
    </div>
    <div>
      <h3>Choose Combinations of Phonetic Algorithms :</h3>
      <form novalidate [formGroup]="sampleForm">
        <div class="form-group row" formArrayName="searchAlgorithm">
          <div class="col-xs-12" *ngFor="let item of langControlMetada; let i = index;">
            <div [formGroupName]="i">
              <div class="form-group row">
                <div class="form-inline" style="margin-left:15px;">
                  <div class="form-check">
                    <p-checkbox [name]="item.checkboxName" class="form-check-label" [value]="item.checkboxName" [label]="item.checkboxLabel"
                      [formControlName]="item.checkboxName" [inputId]="item.checkboxName" (onChange)="languageSelectionChange
(i, item.checkboxName, item.associateControlName)"></p-checkbox>
                    <input *ngIf="item.associateControlType == 'textbox'" [id]="item.associateControlName"
                      [formControlName]="item.associateControlName" class="form-control form-control-sm" type="number"
                      placeholder="(0-100)" myNumberOnly pInputText>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <span *ngIf="missingLanguage" style="color:red">Missing programming language!</span>
        <div class="form-group row">
          <div class="col-xs-12">
            <button pButton type="button" label="Submit" class="ui-button-success" [disabled]="!sampleForm.valid || selectedAlgorithmCount == 0"
              (click)="submit($event)"></button>
          </div>
        </div>
        <!-- <br>
        <div class="form-group row">
          <div class="col-xs-12">
            Output: {{computedValue | json}}
          </div>
        </div> -->
      </form>
      <hr />
    </div>

  </p-fieldset>
</div>

<p-table [value]="results">
  <ng-template pTemplate="caption">
    Results
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="2">Choice</th>
      <th rowspan="2">Index</th>
      <th [colSpan]="computedValue.length">Score</th>
      <th rowspan="2">Final Score</th>
    </tr>
    <tr>
      <ng-container *ngFor="let comp of computedValue">
        <th colspan="1">{{comp.value}}</th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{result['choice']}}</td>
      <td>{{result['index']}}</td>
      <ng-container *ngFor="let comp of computedValue">
        <td>{{result[comp.value]}}</td>
      </ng-container>
      <td>{{result['final_score']}}</td>
    </tr>
  </ng-template>
</p-table>
