<div class="content-section introduction">
  <div>
    <span class="feature-title">Fuzzy Search Demo</span>
  </div>
  <div>
    <span class="feature-title"><input type="text" placeholder="Search Text" pInputText [(ngModel)]="txtSearch"
        (ngModelChange)="onTxtSearchChange($event)" /></span>
  </div>
  <div>
    <h3>Choose Search Algorithm :</h3>
    <div class="ui-g" style="width:700px;margin-bottom:10px">

      <div class="ui-g-3">
        <p-radioButton name="rdPhonetics" value="fuzzball" label="FuzzBall" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="fuzzball"></p-radioButton>
      </div>
      <div class="ui-g-3">
        <p-radioButton name="rdPhonetics" value="fuse" label="Fuse" [(ngModel)]="selectedPhoneticValue" (ngModelChange)="onTxtSearchChange($event)"
          inputId="fuse"></p-radioButton>
      </div>
      <div class="ui-g-3">
        <p-radioButton name="rdPhonetics" value="daitchmokotoff" label="Daitch Mokotoff" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="daitchmokotoff"></p-radioButton>
      </div>
      <div class="ui-g-3">
        <p-radioButton name="rdPhonetics" value="soundex" label="Soundex" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="soundex"></p-radioButton>
      </div>
      <div class="ui-g-3">
        <p-radioButton name="rdPhonetics" value="doublemetaphone" label="Double Metaphone" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="doublemetaphone"></p-radioButton>
      </div>
      <div class="ui-g-3">
        <p-radioButton name="rdPhonetics" value="natural" label="Natural" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="natural"></p-radioButton>
      </div>
      <!-- <div class="ui-g-3">
  <p-radioButton name="chkgrpFuzzBall" value="ratio" label="Ratio" [(ngModel)]="selectedFuzzBallValue" inputId="ratio"></p-radioButton>
</div>
<div class="ui-g-3">
  <p-radioButton name="chkgrpFuzzBall" value="partial_ratio" label="Partial Ratio" [(ngModel)]="selectedFuzzBallValue"
    inputId="partial_ratio"></p-radioButton>
</div>
<div class="ui-g-3">
  <p-radioButton name="chkgrpFuzzBall" value="token_sort_ratio" label="Token Sort Ratio" [(ngModel)]="selectedFuzzBallValue"
    inputId="token_sort_ratio"></p-radioButton>
</div>
<div class="ui-g-3">
  <p-radioButton name="chkgrpFuzzBall" value="token_set_ratio" label="Token Set Ratio" [(ngModel)]="selectedFuzzBallValue"
    inputId="token_set_ratio"></p-radioButton>
</div> -->
    </div>
  </div>
</div>

<p-table [value]="results">
  <ng-template pTemplate="caption">
    Results
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Choice</th>
      <th>Score</th>
      <th>Index</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{result['choice']}}</td>
      <td>{{result['score']}}</td>
      <td>{{result['i']}}</td>
    </tr>
  </ng-template>
</p-table>
