<div class="content-section introduction">
  <div>
    <span class="feature-title">Fuzzy Search Demo</span>
  </div>
  <div>
    <span class="feature-title">
      <div class="ui-g" style="margin-bottom:2px">
        <div class="ui-g-3">
          <input type="text" placeholder="Search Text" pInputText [(ngModel)]="txtSearch" (ngModelChange)="onTxtSearchChange($event)" />
        </div>
        <div class="ui-g-9">
          <textarea placeholder="Enter Valid JSON" [(ngModel)]='txtAreaJSON' rows="5" cols="100">
</textarea>
        </div>
      </div>
    </span>
  </div>
  <div>
    <h3>Choose Phonetic Algorithm :</h3>
    <div class="ui-g" style="width:700px;margin-bottom:10px">

      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="fuzzball" label="FuzzBall - Partial Ratio" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="fuzzball"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="daitchmokotoff" label="Daitch Mokotoff" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="daitchmokotoff"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="soundex" label="Soundex" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="soundex"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="doublemetaphone" label="Double Metaphone" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="doublemetaphone"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="naturalmetaphone" label="Natural Metaphone" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="naturalmetaphone"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="naturalsoundex" label="Natural Soundex" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="naturalsoundex"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="symlar" label="Symlar" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="symlar"></p-radioButton>
      </div>
    </div>
  </div>
  <div>
    <h3>Choose Distance/Metrics Algorithm :</h3>
    <div class="ui-g" style="width:700px;margin-bottom:10px">
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="levenshtein" label="FuzzBall - Levenshtein" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="levenshtein"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="jarowinkler" label="Jaro Winkler" [(ngModel)]="selectedPhoneticValue"
          (ngModelChange)="onTxtSearchChange($event)" inputId="jarowinkler"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="rdPhonetics" value="fuse" label="Fuse" [(ngModel)]="selectedPhoneticValue" (ngModelChange)="onTxtSearchChange($event)"
          inputId="fuse"></p-radioButton>
      </div>
    </div>
  </div>
</div>

<p-table [value]="results">
  <ng-template pTemplate="caption">
    Results
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Choice</th>
      <th>Score</th>
      <th>Index</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{result['choice']}}</td>
      <td>{{result['score']}}</td>
      <td>{{result['i']}}</td>
    </tr>
  </ng-template>
</p-table>
